
*{
    font-family: 'Lucida Sans';
}

body {
    background-color: rgb(191, 176, 241);
}



button {
    border:none;
    color:rgb(253, 253, 253);
    padding: 32px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(52, 52, 136);
    border-radius: 1rem;
}


button:hover {
    background-color: white;
    color:black;
}

.text-center {
    text-align: center;
    top: 50%;
}
